*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background-image:url(https://bl-i.thgim.com/public/news/4nkw5t/article65995569.ece/alternates/FREE_1200/crude%20oil.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
h2{
    text-align: center;
    padding: 20px;
    font-family: Arial;
}
div.register{
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgba(208, 211, 197, 0.3);
    box-shadow: 2px 2px 15px
    rgba(236, 233, 233, 0.966);
    color:#ffbb00
}
form#register{
    margin: 50px;
}
label{
    font-family: Arial;
    font-size: 18px;
}
input#name{
    width: 300px;
    border: 1px solid #ff7200;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: rgb(247, 238, 238);
    box-shadow: inset 1px 1px 5px
    rgba(235, 18, 18, 0.952);
}
input#submit{
    width: 240px;
    height: 40px;
    background: #f5740b;
    border: none;
    margin-top: 30px;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
    margin-bottom: 20px;
}
label,h2{
    text-shadow: 1px 1px 5px rgba(236, 8, 8, 0.3);
}
span{
    color: rgb(236, 133, 14);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}